* {
    background-color: black;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Edge */
    user-select: none; /* le reste */
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

div {
    text-align: center;
    height: 100%;
    overflow: hidden;
}

img {
    width: 100vw;
}
